/* stv3.css */

/* { border: 1px solid red; }*/

body {
	border: 0px;
	margin: 0px;
	padding: 0px;
	min-width: 1150px;
	overflow: hidden;
	font-family: Helvetica, Arial, sans-serif;
	background-color: rgba(250,250,250,0.8);
	/*background-color: #f8f8f8;*/
	background-image: url('../img/bg.png');
	background-position: center top;
}

.hidden {
	display: none;
}

.flat {
	border: none;
}

.icon {
	width: 30px;
	background-color: transparent;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
}

.inlineicon {
	height: 20px;
	opacity: 0.5;
	vertical-align: middle;
	margin-left: 5px;
}
.inlineicon:hover {
	opacity: 0.8;
}

#toolbar-center {
	position: absolute;
	width: 1150px;
	height: auto;
	margin-left: 50%;
	left: -575px;
}

#toolbar {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 70px;
	background-color: #333;
	box-shadow: 0px 4px 0px 0px #29abe2;
}

#div-logo {
	display: inline-block;
	width: auto;
	height: 50px;
	background-color: transparent;
	margin: 10px;
	vertical-align: top;
	text-align: center;
	line-height: 50px;
}

#img-logo {
	height: 50px;
}

.inline-icon {
	height: 30px;
	vertical-align: middle;
}

.refresh-icon {

}

.status-color {
	vertical-align: middle;
}

.status-reserved {
	height: 20px;
	vertical-align: middle;
	text-align: center;
}

#search {
	display: inline-block;
	width: 480px;
	height: 48px;
	font-size: 30px;
	vertical-align: top;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 105px;
	padding-left: 20px;
	font-weight: bolder;
	border-radius: 1px;
}

#refresh {
	background-color: #AAA;
	display: inline-block;
	width: 50px;
	height: 50px;
	vertical-align: top;
	margin-top: 10px;
	line-height: 50px;
	transition: background-color 0.2s;
}
#refresh:hover {
	background-color: #CCC;
}
#refresh:active {
	background-color: #AAA;
}

#div-filter {
	background-color: #555;
	display: inline-block;
	width: 150px;
	height: 50px;
	vertical-align: top;
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
	color: #AAA;
	line-height: 50px;
	text-align: center;
	font-weight: bolder;
	cursor: pointer;
}

#div-add {
	background-color: #555;
	display: inline-block;
	width: 150px;
	height: 50px;
	vertical-align: top;
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
	color: #AAA;
	line-height: 50px;
	text-align: center;
	font-weight: bolder;
	cursor: pointer;
	transition: background-color 0.2s;
}
#div-add:hover {
	background-color: #666;
}

#editBtn {
	height: 30px;
	width: 30px;
	background-color: transparent;
	opacity: 0.3;
	transition: background-color 0.2s;
}
#editBtn:hover {
	opacity: 1.0;
	background-color: #29abe2;
}
#editBtn:active {
	opacity: 1.0;
	background-color: #249bce;
}

#deleteBtn {
	height: 30px;
	width: 30px;
	opacity: 0.3;
	background-color: transparent;
	transition: background-color 0.2s;
}
#deleteBtn:hover {
	opacity: 1.0;
	background-color: #f04c3e;
}
#deleteBtn:active {
	opacity: 1.0;
	background-color: #d04236;
}
#rescanBtn {
	height: 30px;
	width: 30px;
	background-color: transparent;
	opacity: 0.3;
	transition: background-color 0.2s;
}
#rescanBtn:hover {
	opacity: 1.0;
	background-color: #AAA;
}
#rescanBtn:active {
	opacity: 1.0;
	background-color: #999;
}

/****************** TABLE *************************/

th { 
	padding-left: 10px; 
	text-align: left!important;
}

td { 
	padding-left: 10px;

	
}
tr { }

.tablehover {
	background-color: rgba(255,255,255,0.0);
	transition: background-color 0.2s;
}
.tablehover:hover {
	background-color: rgba(255,255,255,0.5);
}

#table-wrapper {
	position: absolute;
	margin-top: 74px;
	width: 1150px;
	height: 90%;
	margin-left: 50%;
	left: -575px;
	overflow-y: scroll;
	background-color: rgba(255,255,255,0.9);
	box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.1);

}

.table-item {
	border-bottom: 1px solid #DDD;
}

#thelist {
	border-spacing: 0px;
	/*width: 100%;*/
}

.table-header {
	background-color: #DDD;
}

.col {
	line-height: 25px;

}

.col-1 { /* health */
	width: 10px;
	padding: 2px;
}

.col-2 { /* ip address */
	width: 160px;
}

.col-3 { /* nickname */
	width: 215px;

}

.col-4 { /* dns name */
	width: 350px;
}

.col-5 { /* type */
	width: 200px;
}

.col-6 { /* reserved */
	width: 75px;
}

.col-7 { /* edit */
	width: 30px;
	padding: 0px!important;
}

.col-8 { /* delete */
	width: 30px;
	padding: 0px;
	padding-right: 2px;
}

.text-ip, .text-nickname {
	font-size: 1.2em;
	font-weight: bolder;
}

.text-dns {
	font-size: 0.8em;
}

.text-type {
	font-size: 0.8em;
}


/**************** ADD WINDOW ********************/

.add-show { display: block; }
.add-hide { display: none; }

#add-window {
	z-index: 1000;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
}

#add-wrapper {
	position: absolute;
	width: 500px;
	height: auto;
	z-index: 1001;
	margin-left: 50%;
	left: -280px;
	margin-top: 20px;
	background-color: #FFF;
	padding: 30px;
	box-shadow: 0px 3px 30px 0px rgba(0,0,0,0.2);
}

#add-tbl {
	border-spacing: 0px;
}

.add-td {
	line-height: 40px;

}

.add-col-l {
	width: 150px;
}

.add-col-r {
	width: 340px;
}

.add-box {
	width: 300px;
	height: 30px;
	background-color: #f8f8f8;
	padding-left: 10px;
	font-size: 12px;
	border: solid 1px #EEE;
}

#notes {
	margin-top: 5px;
	height: 150px;
	padding: 10px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13.5px;
	width: 290px;
	resize: none;
}

.notes-label {
	vertical-align: top;
}

#typedropdown {
	width: 310px;
}

#add-button {
	width: 100%;
	text-align: center;
	line-height: 30px;
	background-color: #b9d9e7;
	margin-top: 10px;
}
#add-button:hover {
	background-color: #29abe2;
}

#add-button:active {
	background-color: #ccc;
}

#add-cancel {
	position: absolute;
	z-index: 2000;
	width: 45px;
	height: 45px;
	margin-top: -100px;
	margin-left: 470px;
	cursor: pointer;
}
#add-cancel:active {
	width: 42px;
	height: 42px;
}
#addresolve {
	vertical-align: middle;
}
.addcheckbox-text {
	display: inline-block;
	font-size: 10px;
}

#addreserved {
	vertical-align: middle;
}

/************** EDIT ***************************/

.edit-show { display: block; }
.edit-hide { display: none; }

#edit-popup {
	z-index: 1000;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
}

#edit-wrapper {
	position: absolute;
	width: 500px;
	height: auto;
	z-index: 1001;
	margin-left: 50%;
	left: -280px;
	margin-top: 20px;
	background-color: #FFF;
	padding: 30px;
	box-shadow: 0px 3px 30px 0px rgba(0,0,0,0.2);
	border: 1px solid #999;
}

#edit-save-button {
	display: inline-block;
	width: 240px;
	line-height: 30px;
	margin-left: 10px;
	background-color: #b9d9e7;
}
#edit-save-button:hover {
	background-color: #29abe2;
}
#edit-save-button:active {
	background-color: #ccc;
}

#edit-close-button {
	display: inline-block;
	width: 240px;
	line-height: 30px;
	background-color: #DDD;
}
#edit-close-button:hover {
	background-color: #d8d8d8;
}
#edit-close-button:active {
	background-color: #ccc;
}

/*********************** ADMIN *********************************/

.admin-show { display: block; }
.admin-hide { display: none; }

#div-admin {
	display: inline-block;
	width: 30px;
	height: 50px;
	cursor: pointer;
	margin-top: 10px;
	text-align: center;
	line-height: 50px;
	background-color: rgba(255,255,255,0);
	transition: background-color 0.2s;
}
#div-admin:hover {
	background-color: rgba(255,255,255,0.1);
}

#adminicon {
	vertical-align: middle;
	opacity: 0.5;
}

#admin-popup {
	z-index: 1000;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);	
}

#admin-wrapper {
	position: absolute;
	width: 700px;
	height: auto;
	z-index: 1001;
	margin-left: 50%;
	left: -385px;
	margin-top: 20px;
	background-color: #FFF;
	padding: 30px;
	box-shadow: 0px 3px 30px 0px rgba(0,0,0,0.2);
	border: 1px solid #999;
}

.launchbtn {
	width: 100px;
	height: 50px;
	padding-left: 10px;
	padding-right: 10px; 
}

.desc {
	width: auto;
	font-size: 10px;
	color: #888;
}

.admin-header {
	width: 150px;
	font-weight: bolder;

}

#admin-table {
	width: 100%;
	border-spacing: 5px;
}

.td-button {
	text-align: center;
	vertical-align: middle;
}

#admin-cancel {
	position: absolute;
	z-index: 2000;
	width: 45px;
	height: 45px;
	margin-top: -100px;
	margin-left: 670px;
	cursor: pointer;
}
#admin-cancel:active {
	width: 42px;
	height: 42px;
}